
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

canvas
{ display: block; vertical-align: bottom; }


/* ---- particles.js container ---- */ 



/* ---- stats.js ---- */ 

h1
{
font-family: 'Titillium Web', sans-serif;
    font-size: 6em;
    text-align: center;
    margin-top: 10%;
    color: antiquewhite;
  
    align-content: center;
    
     z-index: 1;
    
    
    
    
}


h2
{
    
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    text-align: center;
   
    color: antiquewhite;
  
    align-content: center;
    z-index: 1;
    
    
}


.mainContainer {
  height: 100%;
  display: block;
}



 /* ---- particles.js container ---- */ 
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #af6161; background-image: url(""); background-repeat: repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ 








.navvy
         
{position: fixed; top: 0px;  z-index: 444;width:100%}
   .navvy         
{
    list-style-type:none;
    margin: 0;
    padding: 0;
    text-align: center;
  word-spacing: 10em;
   background-color:#3f3f3f;
    
    
}



li {
    
   display:inline;
    
     overflow: hidden;
  
   
    
}

li a {
    display:inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   font-family: 'Titillium Web', sans-serif;
    font-size: 1.EM;;
  font-weight: thin;
    color: #f6f6f6;
    
}

li a:hover {
    background-color: #C9C9C9;
}





















